@{
    ViewBag.Title = "Home Page";
}

<h1 style="text-align: center; margin: 8% 0 5%;"><strong>Welcome to Bus Ticket booking System</strong></h1>

<body>
    <div class=container >
        <div class="row">
            <div class="col-lg-1">
                <p class="home-btn"><a href="https://localhost:44374/Admins/Index" class="btn btn-primary btn-lg link-btn">Admin</a></p>
            </div>
            <div class="col-lg-1">
                <p class="home-btn"><a href="https://localhost:44374/Agents/Index" class="btn btn-primary btn-lg link-btn">Agent</a></p>
            </div>
            <div class="col-lg-1">
                <p class="home-btn"><a href="https://localhost:44374/Passengers/Index" class="btn btn-primary btn-lg link-btn">Passenger</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img src="~/Images/bug gif.gif" height="300" width="1000" />
            </div>

        </div>
        </div>

</body>