
@{
    ViewBag.Title = "Index";
}

<h1 style="text-align: center; margin: 8% 0 5%;"><strong>Welcome to Bus Ticket booking System</strong></h1>

<body>
    <div class=container>
        <div class="row">
            <div class="col-lg-2">
                <p class="home-btn"><a href="https://localhost:44374/Passengers/BookTicket" class="btn btn-primary btn-lg link-btn">Book Ticket</a></p>
            </div>
            <div class="col-lg-2">
                <p class="home-btn"><a href="https://localhost:44374/Passengers/ViewTickets" class="btn btn-primary btn-lg link-btn">View Tickets</a></p>
            </div>
            <div class="col-lg-2">
                <p class="home-btn"><a href="https://localhost:44374/Passengers/SearchBus" class="btn btn-primary btn-lg link-btn">Search Bus</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img src="~/Images/bug gif.gif" height="300" width="1000" />
            </div>

        </div>
    </div>

</body>